.m-comments {
  &__item {
    position: relative;
    margin: 15px 0;
  }

  &__user {
    display: flex;
    align-items: center;

    &-avatar {
      cursor: pointer;
      img {
        height: 45px;
        border-radius: 3px;
      }
    }

    &-name {
      margin-left: 5px;
      font-size: 16px;
      color: $white;
      font-weight: 700;
      cursor: pointer;
    }

    &-replies,
    &-added {
      margin-left: 5px;
      font-size: 10px;
      color: $white60;
      font-weight: 700;
    }

    &-title {
      margin-left: calc(15px - 0.6px);
      font-size: 16px;
      color: $white60;
    }
  }

  &__body {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 45px;
    word-break: break-word;

    &-text {
      font-size: 16px;
      line-height: 1.4;

      > p + p {
        margin-top: 15px;
      }
    }
  }

  &__actions {
    margin-left: 46px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;

    &-item {
      padding: 5px;
      @include button-icon;

      & + & {
        margin-left: 10px;
      }
    }

    &-item.reply {
      border-radius: 3px;
      margin-right: 5px;
      font-size: 14px;
      color: $white60;
      line-height: 13px;
    }
  }

  &__rating {
    &-button,
    &-counter {
      margin-left: 1px !important;
    }

    &-counter {
      font-size: 14px;
      font-family: "JetBrains Mono", serif;
      color: $white;

      &.positive,
      &.positive:hover {
        color: $success;
      }

      &.negative,
      &.negative:hover {
        color: $danger;
      }

      &:hover {
        background-color: transparent;
        color: $white;
      }
    }

    &-button {
      padding: 0;
      font-size: 22px;
      border-radius: 3px;
      color: $accent-color-primary;

      &:focus,
      &:hover {
        color: $accent-color-primary;
      }

      &.is-liked {
        color: #61e294;
        font-weight: bold;
      }

      &.is-disliked {
        font-weight: bold;
        color: #bf4060;
      }
    }
  }

  &__dropdown {
    padding: 0 5px;
    margin-left: 5px !important;
    display: flex;
    align-items: center;
    border-radius: 3px;

    &-button {
      font-size: 22px;
      padding: 0;
      color: $accent-color-primary;

      &:focus,
      &:hover {
        color: $accent-color-primary;
      }
    }

    &-items {
      background-color: $dark-accent-primary;
      border: 1px solid $accent-color-main;
      border-radius: 3px;
      margin-left: 5px !important;

      .popper__arrow {
        display: none;
      }
    }

    &-item {
      line-height: 20px !important;
      padding: 0 5px !important;
      font-size: 12px !important;
      transition: color 0.3s ease;

      &.delete {
        color: $danger-hover;

        &:hover {
          color: $danger;
        }
      }

      &:hover {
        background-color: transparent !important;
      }
    }
  }

  &__toggle-visibility {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: calc((45px / 2) - 10px);

    width: 20px;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      background-color: $accent-color-main;
      transition: background-color 0.2s ease-in-out;
    }

    &:hover:before {
      background-color: $white60;
    }
  }

  &__item--compact &__user-name {
    margin-left: calc(15px - 0.6px);
    color: $white60;
  }

  &__item--haschildren > &__user > &__user-title {
    cursor: pointer;
  }
  &__item--haschildren:not(&__item--compact) > div > &__toggle-visibility {
    top: 35px;
  }
}

.m-comments__list--children {
  margin-left: 45px;
  margin-top: 20px;
}

.m-comments-observer {
  margin-bottom: 600px;
  margin-top: -600px;
}