@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.murren-battle-lobby {
  height: 400px;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  padding: 5px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__table {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;

    &-row {
      display: flex;
      height: 150px;
      padding: 5px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__room {
    width: 347px;
    height: 150px;
    border: 2px solid $main;
    border-radius: 3px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &-murren {
      height: 131px;
      width: 115px;
      border: 1px solid $main;
      z-index: 1;
      margin: 5px;
      border-radius: 3px;
      position: relative;

      &_avatar {
        width: 112px;
        height: 114px;
        border-radius: 3px;
        margin: 1px auto 0;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &_name {
        font-size: 12px;
        text-align: center;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 2px;
      }
    }
    &-murren:hover {
      cursor: pointer;
    }
    &-center {
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      &_swords {
        width: 55px;
        height: 55px;
        margin-bottom: 3px;
        background: url("../../../assets/svg/murr_game/battle_room_cross_swords.svg")
          50% 50% / contain no-repeat;
      }
      &_progress {
        .el-progress-bar {
          width: 55px;
          margin-bottom: 3px;
          &__outer {
            background-color: $dark;
            border-radius: 3px;
          }

          &__inner {
            background-color: $warning;
            border-radius: 3px;
          }
        }
      }
      &_text {
        text-align: center;
        font-size: 10px;
      }
    }
  }
  &__stub {
    border: 1px solid $white;
    height: 131px;
    width: 115px;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    &:hover {
      cursor: pointer;
      background-color: $dark;
    }
    &-plus {
      width: 55px;
      height: 55px;
      background: url("../../../assets/svg/murr_game/plus_stub.svg") 50% 50% /
        contain no-repeat;
    }
    &-text {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}
