.m-card-form {
  &__input {
    display: block;
    width: 100%;
    padding: 5px;
    color: $white;
    background-color: $dark-accent-secondary;
    border: 0;
    border-radius: 0;
    resize: none;

    &.is-invalid {
      &::placeholder {
        color: $danger;
      }
    }

    &::placeholder {
      color: $white-lighter;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__title {
    &-input {
      font-size: 30px;
      line-height: 1.333;
      font-weight: 700;
      overflow: hidden;
      padding: 0 5px 10px;
      height: 60px;
    }

    &-invalid {
      color: $danger;
      margin: 5px 0;
      text-align: center;
    }
  }

  &__textarea {
    font-size: 1.5625rem;
    padding: 5px;

    @import "editorjs";
  }
}
